* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
  text-wrap: balance;
}

html {
  scroll-behavior: smooth;
}
.App {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: hof-fade-in 0.5s;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: hof-fade-in 0.5s;
}

a {
  text-decoration: none;
  cursor: pointer;
  pointer-events: all;
  color: inherit;
}

h1 {
  font-size: 3rem;
  color: #5252ee;
  font-weight: 800;
  margin: 1rem 0 2rem;
}

/* animation used when loading the page */
@keyframes hof-fade-in {
  0% {
    opacity: 0;
    transform: translateY(+10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
