.nav-bar {
  width: 100vw;
  justify-content: space-between;
  padding: 0px 2.5vw;
  background-color: white;
  position: fixed;
  box-shadow: 0px 0px 50px 0px #00000024;
  color: var(--col-maroon);
  top: 0;
  left: 0;
  z-index: 9999;
  font-weight: 600;
}

.main-nav {
  padding: 0.3rem;
  gap: 0.5rem;
}
.nav-btn {
  padding: 7px 15px;
  border-radius: 7px;
  transition: 0.25s ease-out;
}
.nav-btn:hover {
  background-color: var(--col-maroon);
  color: white;
}
.main-nav img {
  height: 70px;
  padding: 7px 15px 7px 0px;
  margin: 0px 15px;
  object-fit: contain;
  filter: drop-shadow(0px 0px 50px #000000ad);
}

.user-nav {
  padding: 0.5rem;
  gap: 0.5rem;
}
.nav-login,
.nav-signup {
  padding: 7px 25px;
  border-radius: 7px;
  transition: 0.25s ease-out;
  border: 1px solid var(--col-maroon);
  box-shadow: 0px 0px 0px 0px #0000003b;
  display: block;
}
.nav-signup.active,
.nav-login.active {
  display: none;
}
.nav-signup {
  border: 1px solid var(--col-maroon);
}
.nav-signup:hover {
  color: white;
  background-color: var(--col-maroon);
}
.nav-login:hover {
  color: white;
  background-color: var(--col-maroon);
}
